<div class="container-fluid ps-5 mt-5">

    <h1 class="h1 text-dark text-center">
        Secure Admin Dashboard
    </h1>

    <a class="btn btn-primary m-1" href="/admin/dashboard"> Admin Dashboard </a>
    <a class="btn btn-primary m-1" href="/admin/dashboard/productReport"> Products</a>
    <a class="btn btn-primary m-1" href="/admin/dashboard/userReport"> Customer Database </a>
    <a class="btn btn-primary m-1" href="/admin/dashboard/orderReport"> Sales Reports </a>

</div>