    <!-- Shop by Categories Section -->
    <section class="shop-categories" id="shop">
      <h2>Shop by Categories</h2>
      <div class="categories-container">
        <div class="category-box">
          <a href="/men">
            <img src="/assets/mens.jpg" alt="Shop for Men" />
            <div class="category-content">
              <h3>Shop for Men</h3>
            </div>
          </a>
        </div>
        <div class="category-box">
          <a href="/women">
            <img src="/assets/womens.jpg" alt="Shop for Women" />
            <div class="category-content">
              <h3>Shop for Women</h3>
            </div>
          </a>
        </div>
        <div class="category-box">
          <a href="/kids">
            <img src="/assets/kids.jpg" alt="Shop for Kids" />
            <div class="category-content">
              <h3>Shop for Kids</h3>
            </div>
          </a>
        </div>
        <div class="category-box">
          <a href="/accessories">
            <img
              src="/assets/accessories.jpg"
              alt="Shop for Accessories and Shoes"
            />
            <div class="category-content">
              <h3>Shop for Accessories & Shoes</h3>
            </div>
          </a>
        </div>
      </div>
    </section>