<link rel="stylesheet" href="/css/footer.css">


<footer class="footer">
    <div class="footer-container">
        <!-- About Style House Section -->
        <div class="footer-box">
            <h2><i>About Style House</i></h2>
            <ul class="footer-list">
                <li><a href="/about">About Us</a></li>
                <li><a href="/services">Our Services</a></li>
                <li><a href="/locator">Store Locator</a></li>
            </ul>
        </div>


        <!-- How Can We Help You Section -->
        <div class="footer-box">
            <h2><em>How Can We Help You?</em></h2>
            <ul class="footer-list">
                <li><a href="/locator">Contact Us</a></li>
                <li><a href="/user/orders">Track Your Orders</a></li>
                <li><a href="/user/cart">My Account</a></li>
                <li><a href="/complain">Complain</a></li>
            </ul>
        </div>

        <!-- Information Section -->
        <div class="footer-box">
            <h2><em>Information</em></h2>
            <ul class="footer-list">
                <li><a href="/shipping-policy">Shipping Policy</a></li>
                <li><a href="/return-policy">Return & Refund</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms&conditions">Terms and Conditions</a></li>
                <li><a href="/payment-method">Payment Method</a></li>
            </ul>
        </div>

        <!-- Newsletter Section -->
        <div class="footer-box">
            <h2><em>LIKE BEING FIRST?</em></h2>
            <p>Be the first to know about new arrivals, sales & promos by submitting your email! You can opt-out at any
                time.</p>
            <form method="post" action="/user/addNewsLetter" class="newsletter-form">
                <input type="email" placeholder="Enter Your Email" name="email" required>
                <button type="submit">Submit</button>
            </form>
            <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank"><img src="/assets/facebook-icon.png"
                        alt="Facebook"></a>
                <a href="https://www.twitter.com" target="_blank"><img src="/assets/twitter-icon.png" alt="Twitter"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="/assets/instagram-icon.png"
                        alt="Instagram"></a>
            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Style House. All Rights Reserved.</p>
    </div>
</footer>