
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="/">
                    <img src="/assets/logo.png" alt="Style House Logo" class="logo-img">
                </a>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="about">About Us</a></li>
                    <li><a href="services">Our Services</a></li>
                    <li><a href="#site-map">Site Map</a></li>
                    <li>
                        <form method="post" action="/search">
                        <input type="text" placeholder="Search items...">
                        <button type="submit" class="search-btn">Search</button>
                        </form>
                        
                    </li>
                    <li><a href="./assets/catalog.pdf" download>Download Catalog</a></li>
                    <li><a href="/user/login">Sign In</a></li>
                    <li><a href="/user/cart">Shopping Cart</a></li>
                </ul>
            </nav>
        </div>
    </header>
