 <!-- Top Selling Categories Section -->
    <section class="top-selling-categories">
      <h2>Top Selling Categories</h2>

      <!-- Clothing Section -->
      <div class="category-group">
        <h3>Clothing</h3>
        <div class="categories-container">
          <div class="category-box">
            <a href="/sarees">
              <img src="/assets/sarees.jpg" alt="Sarees" />
              <div class="category-content">
                <h4>Sarees</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="lehengas">
              <img src="/assets/lehengas.jpg" alt="Lehengas" />
              <div class="category-content">
                <h4>Lehengas</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/sherwanis">
              <img src="/assets/sherwanis.jpg" alt="Sherwanis" />
              <div class="category-content">
                <h4>Sherwanis</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/kurta-pyjama-sets">
              <img src="/assets/kurta_pajama.jpg" alt="Kurta Pajama Sets" />
              <div class="category-content">
                <h4>Kurta Pajama Sets</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/anarkali-dresses">
              <img
                src="/assets/girls_anarkali.jpg"
                alt="Girls' Anarkali Dresses"
              />
              <div class="category-content">
                <h4>Girls' Anarkali Dresses</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/kids-ethnic">
              <img
                src="/assets/kids_ethnic_sets.jpg"
                alt="Kids' Ethnic Sets"
              />
              <div class="category-content">
                <h4>Kids' Ethnic Sets</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/baby-girl-frocks">
              <img src="/assets/baby_frocks.jpg" alt="Baby Girl Frocks" />
              <div class="category-content">
                <h4>Baby Girl Frocks</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/baby-rompers">
              <img src="/assets/baby_rompers.jpg" alt="Baby Rompers" />
              <div class="category-content">
                <h4>Baby Rompers</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/baby-kurta-pyjamas">
              <img
                src="/assets/Baby Boy Kurta.jpg"
                alt="Baby Boy Kurta Pajama"
              />
              <div class="category-content">
                <h4>Baby Boy Kurta Pajama</h4>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Accessories Section -->
      <div class="category-group">
        <h3>Accessories</h3>
        <div class="categories-container">
          <div class="category-box">
            <a href="/bangles">
              <img src="/assets/bangles.jpg" alt="Bangles" />
              <div class="category-content">
                <h4>Bangles</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/jumkas">
              <img src="/assets/jhumkas.jpg" alt="Jhumkas" />
              <div class="category-content">
                <h4>Jhumkas</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="handbags">
              <img src="/assets/handbags.jpg" alt="Handbags" />
              <div class="category-content">
                <h4>Handbags</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="clutches">
              <img src="/assets/clutches.jpg" alt="Clutches" />
              <div class="category-content">
                <h4>Clutches</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="shawls">
              <img src="/assets/stoles_shawls.jpg" alt="Stoles and Shawls" />
              <div class="category-content">
                <h4>Stoles and Shawls</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/necklaces">
              <img src="/assets/necklaces.jpg" alt="Necklaces" />
              <div class="category-content">
                <h4>Necklaces</h4>
              </div>
            </a>
          </div>
        </div>
      </div>

      <!-- Shoes Section -->
      <div class="category-group">
        <h3>Shoes</h3>
        <div class="categories-container">
          <div class="category-box">
            <a href="/jhuttis">
              <img src="/assets/juttis.jpg" alt="Juttis" />
              <div class="category-content">
                <h4>Juttis</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="kolapuris">
              <img src="/assets/kolhapuris.jpg" alt="Kolhapuris" />
              <div class="category-content">
                <h4>Kolhapuris</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/kid-jhuttis">
              <img src="/assets/kids_juttis.jpg" alt="Kids' Juttis" />
              <div class="category-content">
                <h4>Kids' Juttis</h4>
              </div>
            </a>
          </div>
          <div class="category-box">
            <a href="/baby-booties">
              <img src="/assets/baby_booties.jpg" alt="Baby Booties" />
              <div class="category-content">
                <h4>Baby Booties</h4>
              </div>
            </a>
          </div>
        </div>
      </div>

    </section>