<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/layout.css" />
    <script defer src="/js/cart.js"></script> 
    <script defer src="/js/slideshow.js"></script>
    

  </head>
  <body>

  
    {{> navbar}}       

    <div class="main">
      {{{body}}}
    </div>


    {{> footer}}

  
  </body>
</html>