/* Header Styles */
header {
  background-color: #1f1f1f;
  padding: 20px 0;
  border-bottom: 1px solid #333;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.logo {
  .logo-img {
    height: 100px;
    width: 200px;
  }

  > .hamburger {
    display: none;
  }

  > .close {
    display: none;
  }
}

.main-menu {
  display: flex;  
  align-items: center;

  > .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin-right: 20px;
      display: flex;
      align-items: center;

      a {
        color: #f5f5f5;
        text-decoration: none;
        padding: 8px 12px;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #333;
        }
      }
    }
  }

  form {
    margin: 0;

    input[type="text"] {
      padding: 8px 12px;
      border: none;
      border-radius: 4px;
      background-color: #2a2a2a;
      color: #f5f5f5;
    }

    .search-btn {
      padding: 8px 12px;
      background-color: #d65151;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: 5px;
      margin-right: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff3b3b;
      }
    }
  }

  .icons {
    margin-left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin-right: 2px;
      display: flex;

      a {
        padding: 5px;

        img {
          width: 30px;
        }
      }

      > span {
        font-weight: 900;
        background-color: #bd4444;
        padding: 6px 10px 4px 10px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
  }
}

.lower-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  span {
    background-color: #292828;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    color: #e97676;
  }

  p {
    display: flex;
    align-items: center;
    margin: 0;
    font-style: italic;
    font-family: cursive;
    color: #f5f5f5;
    transition: background-color 0.3s ease;

    img {
      width: 25px;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}

.dropdown-list {
  position: absolute;
  width: 150px;
  background-color: #2a2a2a;
  border-radius: 6px;
  top: 50px;
  right: 0;
  z-index: 2;

  img {
    width: 15px;
    float: right;
    padding: 10px;
    
    &:hover {
      background-color: #ff6b6b;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0px;

    li {
      padding: 5px 10px;

      &:hover {
        background-color: #ff6b6b;
      }

      a {
        text-decoration: none;
        color: #f5f5f5;
      }
    }
  }
}

.display-none {
  display: none;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 1320px) {
  .header-container {
    flex-direction: column;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo-img {
      height: 100px;
      width: 200px;
    }

    > .hamburger {
      display: inline;
      width: 30px;
      height: 30px;
    }

    > .close {
      display: inline;
      width: 30px;
      height: 30px;
    }
  }


  .target_div{
    display: none;
  }

  


  .main-menu {
    flex-direction: column;

    > .menu {
      flex-direction: column;
      margin-top: 30px;

      li {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    > form {
      margin-top: 20px;
    }
    > .icons {
      display: flex;
      margin-top: 20px;
    }
  }

  .lower-menu {
    flex-direction: column;
    align-items: flex-start;

    > span {
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
    }
  }
}
