<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/layout.css" />
  </head>
  <body>

    <section class="about-us-content">
      <h1>About Us</h1>
      <p>
        Style House is a new startup garments business located in the heart of
        Western Sydney, Rooty Hill. As a Quality Budget Brand, we aim to become
        one of the best online garment shops in Sydney. We provide a wide range
        of clothing, accessories, and shoes for women, men, kids, and babies.
        Our goal is to offer incredible savings and a superior shopping
        experience to our customers.
      </p>
      <p>
        We maintain a large warehouse to ensure our stock levels are always
        sufficient to meet customer demand, minimizing disruption. We also offer
        bulk sales for individuals and businesses, along with responsive online
        shopping, incredible weekly offers, and a dedicated customer service
        team.
      </p>
    </section>

  </body>
</html>