<link rel="stylesheet" href="/css/productPage.css" />

{{#if message}}

  <div class="message">
    {{message}}
  </div>

{{/if}}


{{> productCards}}
{{! <script>
  const form = document.getElementById('productForm');
  const product = document.querySelector('.product-card')
  const  _id = product.id
  const addToCartBtn = document.querySelector('.add-to-cart-btn');
  const buyNowBtn = document.querySelector('.buy-now-btn');
  

  addToCartBtn.addEventListener('click', function (e) {
    form.action = `/cart/add/${_id}`;  // Add to cart action
  });

  buyNowBtn.addEventListener('click', function (e) {
    form.action = `/place/order/${_id}`;  // Buy now action
  });
</script> }}