<style>
    .return-policy-container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #2a2a2a;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

         h1,
    h2 {
         color: #d44c4c;
        font-weight: 600;
    }

    h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    p,
    ul {
        font-size: 1em;
        line-height: 1.6;
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    li {
        margin-bottom: 8px;
    }

    a {
        color: #3ab4f2;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    }

   
</style>



<div class="return-policy-container">
    <h1>Return & Refund Policy</h1>
    <p>We want you to be completely satisfied with your purchase from style house. If you're not happy with your
        product, please review our return policy to understand your options:</p>

    <h2>Returns</h2>
    <p>You have <strong>30 days</strong> from the date of delivery to return an item. To be eligible for a return, your
        item must be unused and in the same condition that you received it. It must also be in the original packaging.
    </p>

    <h2>Non-returnable Items</h2>
    <p>Several types of goods are exempt from being returned, such as:</p>
    <ul>
        <li>Perishable goods (e.g., food, flowers)</li>
        <li>Personal care items (e.g., cosmetics, sanitary products)</li>
        <li>Gift cards and downloadable software products</li>
    </ul>

    <h2>Refunds</h2>
    <p>Once your return is received and inspected, we will notify you of the approval or rejection of your refund. If
        approved, your refund will be processed, and a credit will automatically be applied to your original method of
        payment within 5-10 business days.</p>

    <h2>Exchanges</h2>
    <p>We only replace items if they are defective or damaged. If you need to exchange it for the same item, please
        contact us at support@stylehouse.world</p>

    <h2>Return Shipping</h2>
    <p>You will be responsible for paying your own shipping costs for returning your item. Shipping costs are
        non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.</p>

    <h2>Need Help?</h2>
    <p>If you have any questions about our return policy or need assistance, contact us at <a href="mailto:support@stylehouse.world">support@stylehouse.world</a>
    </p>
</div>